:root {
  /*color*/
  --main-color: #757575;
  --secondary-color: #212121;
  --select-color: #2196f3;
  --section-team-background: #f5f4fa;
  --hero-footer-background: #2f303a;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.invisible-title {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

a {
  text-decoration: none;
}

f1,
f2,
f3,
f4,
f5,
f6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.no-scroll {
  overflow-y: hidden;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

@media screen and (min-width: 480px) {
  .team__img {
    width: 450px;
    height: 460px;
  }
}
@media screen and (min-width: 768px) {
  .team__img {
    width: 354px;
    height: 374px;
  }
}
@media screen and (min-width: 1200px) {
  .team__img {
    width: 270px;
    height: 260px;
  }
}

.work__title,
.team__title,
.clients__title {
  font-weight: 700;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 28px;
}
@media screen and (min-width: 1200px) {
  .work__title,
.team__title,
.clients__title {
    font-size: 36px;
    margin-bottom: 50px;
  }
}

/*header-logo*/
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--select-color);
}

.logo__item {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.logo__header-nav {
  display: flex;
  margin-right: 93px;
}

.menu-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  padding: 0;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: transparent;
  outline: transparent;
  z-index: 99;
}
@media screen and (min-width: 768px) {
  .menu-btn {
    display: none;
  }
}
.menu-btn__icon {
  width: 40px;
  height: 40px;
}

.menu-btn__icon-open {
  opacity: 1;
  fill: #212121;
}
.menu-btn__icon-open:hover, .menu-btn__icon-open:focus {
  fill: #2196F3;
}

.menu-btn__icon-close {
  opacity: 0;
}
.menu-btn__icon-close:hover, .menu-btn__icon-close:focus {
  fill: #2196F3;
}

.menu-btn.is-active .menu-btn__icon-open {
  opacity: 0;
}

.menu-btn.is-active .menu-btn__icon-close {
  opacity: 1;
}

.mobile-backdrop {
  overflow-y: scroll;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  transform: translateX(100%);
  visibility: hidden;
  pointer-events: none;
  transition: transform 250ms var(--timing-function);
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .mobile-backdrop {
    background-color: #FFFFFF;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  }
}
.mobile-backdrop.is-open {
  transform: translateX(0);
  visibility: visible;
  pointer-events: initial;
}

.mobile-menu {
  width: 100%;
  height: auto;
  padding-left: 40px;
  padding-top: 48px;
  padding-bottom: 48px;
  background-color: #fff;
}

.mobile-menu__nav {
  margin-bottom: 302px;
}

.mobile-menu__item {
  margin-bottom: 32px;
}
.mobile-menu__item:last-child {
  margin-bottom: 0;
}

.mobile-menu__link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.02em;
  color: #212121;
}
.mobile-menu__link--current {
  color: #2196F3;
}

.mobile-menu__contacts {
  margin-bottom: 64px;
}

.mobile-menu__contacts-link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: #2196F3;
}
@media screen and (max-width: 479px) {
  .mobile-menu__contacts-link {
    font-size: 28px;
  }
}
.mobile-menu__contacts-link--mail {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #757575;
}

.mobile-menu__social-links {
  display: flex;
}

.social-links__item {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  padding-right: 10px;
  padding-left: 10px;
}
.social-links__item:last-child {
  border: transparent;
}
.social-links__item:nth-child(1) {
  padding-left: 0;
}

.social-links__links {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196F3;
}
@media screen and (max-width: 479px) {
  .social-links__links {
    font-size: 12px;
  }
}

.header-nav {
  border-bottom: 1px solid #ececec;
}
@media screen and (max-width: 767px) {
  .header-nav {
    padding: 16px 0;
  }
}
@media screen and (min-width: 768px) {
  .header-nav {
    padding: 21px 0;
  }
}
@media screen and (min-width: 1200px) {
  .header-nav {
    padding: 24px 0;
  }
}

.header-nav__container {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .header-nav__container {
    justify-content: space-between;
  }
}

.nav {
  display: flex;
}
@media screen and (max-width: 767px) {
  .nav {
    display: none;
  }
}

.nav__item {
  margin-right: 50px;
}
.nav__item:last-child {
  margin-right: 0;
}

.nav__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
  padding: 32px 0;
  transition: color 250ms var(--timing-function);
}
.nav__link:hover, .nav__link:focus {
  color: var(--select-color);
}
@media screen and (max-width: 1199px) {
  .nav__link {
    padding: 36px 0;
  }
}

.nav__link--current {
  color: var(--select-color);
  position: relative;
}
.nav__link--current::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: 0;
  background-color: var(--select-color);
  border-radius: 2px;
}

.contacts {
  margin-left: auto;
}
@media screen and (max-width: 767px) {
  .contacts {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    display: flex;
  }
}

@media screen and (max-width: 1199px) {
  .contacts__item {
    margin-bottom: 10px;
  }
  .contacts__item:last-child {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__item {
    margin-right: 50px;
  }
  .contacts__item:last-child {
    margin-right: 0;
  }
}

.contacts__link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-color);
  cursor: pointer;
  transition: color 250ms var(--timing-function);
}
.contacts__link:hover, .contacts__link:focus {
  color: var(--select-color);
}

.contacts-envelope__icon {
  fill: var(--main-color);
  width: 16px;
  height: 12px;
  margin-right: 10px;
}
.contacts__link:hover .contacts-envelope__icon, .contacts__link:focus .contacts-envelope__icon {
  fill: var(--select-color);
}

.contacts-smartphone__icon {
  fill: var(--main-color);
  width: 10px;
  height: 16px;
  margin-right: 10px;
}
.contacts__link:focus .contacts-smartphone__icon, .contacts__link:hover .contacts-smartphone__icon {
  fill: var(--select-color);
}

.hero {
  background-color: var(--hero-footer-background);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 118px;
  padding-bottom: 118px;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../gallery/background-img/bg-mobile/bg-mobile.jpg);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: url(../gallery/background-img/bg-mobile/bg-mobile@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../gallery/background-img/bg-tablet/bg-tablet.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url(../gallery/background-img/bg-tablet/bg-tablet@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../gallery/background-img/bg-desktop/bg-desktop.jpg);
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url(../gallery/background-img/bg-desktop/bg-desktop@2x.jpg);
  }
}

.hero__title {
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-top: 0;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--select-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  border: transparent;
}

.btn__hero {
  padding: 10px 32px;
}

.btn__form {
  padding: 10px 55px;
}

.btn__footer {
  display: flex;
  width: 200px;
  height: 50px;
  padding: 10px 29px;
}
@media screen and (max-width: 1199px) {
  .btn__footer {
    margin-left: auto;
    margin-right: auto;
  }
}

.btn__footer-icon {
  width: 24px;
  height: 24px;
  fill: #FFFFFF;
  margin-left: 10px;
}

.box__btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-close {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  background-color: #FFFFFF;
}

.btn-close__icon {
  width: 11px;
  height: 11px;
  fill: #000;
  transition: fill 250ms var(--timing-function);
}
.btn-close:hover .btn-close__icon, .btn-close:focus .btn-close__icon {
  fill: var(--select-color);
}

.backdrop {
  overflow-y: scroll;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms var(--timing-function), visibility 250ms var(--timing-function);
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
}

.modal-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 450px;
  min-height: 609px;
  transform: translate(-50%, -50%);
  background-color: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
@media screen and (max-width: 479px) {
  .modal-wrapper {
    max-width: 290px;
  }
}
@media screen and (max-width: 767px) {
  .modal-wrapper {
    top: 60%;
    left: 50%;
  }
}
@media screen and (min-width: 1200px) {
  .modal-wrapper {
    width: 528px;
    min-height: 521px;
  }
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.form-modal {
  padding: 40px;
}

.form-modal__title {
  display: inline-block;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  color: var(--secondary-color);
}
@media screen and (min-width: 1200px) {
  .form-modal__title {
    line-height: 1.15;
  }
}

.form-modal__field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--main-color);
}

.form-modal__input {
  width: 100%;
  height: 40px;
  padding: 12px 42px;
}
.form-modal__input:focus, .form-modal__input:hover {
  border-color: var(--select-color);
  display: block;
}

.form-modal__icons {
  position: absolute;
  top: 50%;
  left: 15px;
  width: 18px;
  height: 18px;
  fill: var(--secondary-color);
  transition: fill 250ms var(--timing-function);
}
.form-modal__input:focus + .form-modal__icons, .form-modal__input:hover + .form-modal__icons {
  fill: var(--select-color);
}

.textaria__form-modal {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--main-color);
}

.form-modal__input,
.texteria__coment {
  margin-top: 4px;
  font: inherit;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  transition: border 250ms var(--timing-function);
}

.texteria__coment {
  padding: 12px 16px;
}
.texteria__coment:focus, .texteria__coment:hover {
  border: 1px solid var(--select-color);
  display: inline-block;
}
.texteria__coment::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 30px;
}

.checkbox__input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox__icon {
  width: 16px;
  height: 15px;
  margin-right: 8px;
  fill: var(--secondary-color);
  transition: background-color 250ms var(--timing-function), background-image 250ms var(--timing-function), fill 250ms var(--timing-function);
}
.checkbox__input:checked + .checkbox__icon {
  background-color: var(--select-color);
  background-image: url("../gallery/icon-check.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-origin: border-box;
  fill: var(--select-color);
}

.checkbox__label,
.checkbox__link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}
@media screen and (max-width: 479px) {
  .checkbox__label,
.checkbox__link {
    font-size: 12px;
  }
}
@media screen and (min-width: 768px) {
  .checkbox__label,
.checkbox__link {
    line-height: 1.71;
    font-size: 14px;
  }
}

.checkbox__label {
  color: var(--main-color);
}

.checkbox__link {
  color: var(--select-color);
}

@media screen and (min-width: 768px) {
  .adge {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}
@media screen and (min-width: 1200px) {
  .adge {
    flex-wrap: nowrap;
  }
}

@media screen and (max-width: 767px) {
  .adge__item {
    max-width: 480px;
  }
  .adge__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .adge__item {
    flex-basis: calc((100% - 60px) / 2);
    margin: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .adge__item {
    width: calc((100% - 120px) / 4);
    margin: 15px;
  }
}

.adge__icon-background {
  height: 120px;
  background-color: var(--section-team-background);
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.adge__icon {
  width: 70px;
  height: 70px;
  background-size: cover;
}

.adge__subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-color);
  margin-top: 0;
  margin-bottom: 10px;
}
@media screen and (max-width: 767px) {
  .adge__subtitle {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.adge__text {
  margin-top: 0;
  margin-bottom: 0;
}

.section__work {
  padding-top: 0;
}
@media screen and (max-width: 1199px) {
  .section__work {
    display: none;
  }
}

.work__list {
  display: flex;
}

.work__item {
  position: relative;
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  z-index: -1;
}
.work__item:last-child {
  margin-right: 0;
}

.work__text {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 370px;
  min-height: 70px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.8);
  color: #FFFFFF;
}

.section--dark {
  background-color: var(--section-team-background);
}

@media screen and (min-width: 768px) {
  .team {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}
@media screen and (min-width: 1200px) {
  .team {
    flex-wrap: nowrap;
  }
}

.team__item {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (max-width: 767px) {
  .team__item {
    max-width: 480px;
  }
  .team__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .team__item {
    flex-basis: calc((100% - 60px) / 2);
    margin: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    width: calc((100% - 120px) / 4);
    margin: 15px;
  }
}

.team__name {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.team__subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  margin-top: 0;
  margin-bottom: 10px;
}

.team__text {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.social {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.social__item {
  margin-right: 10px;
}
.social__item:last-child {
  margin-right: 0;
}

.social__link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  transition: background-color 250ms var(--timing-function);
}
.social__link:hover, .social__link:focus {
  background-color: var(--select-color);
}

.social__icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition: fill 250ms var(--timing-function);
}
.social__link:hover .social__icon, .social__link:focus .social__icon {
  fill: #ffffff;
}

.clients {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}
@media screen and (min-width: 1200px) {
  .clients {
    flex-wrap: nowrap;
  }
}

.clients__item {
  height: 92px;
}
@media screen and (max-width: 479px) {
  .clients__item {
    flex-basis: calc((100% - 60px) / 2);
    margin: 15px;
  }
}
@media screen and (min-width: 480px) {
  .clients__item {
    flex-basis: calc((100% - 60px) / 2);
    margin: 15px;
  }
}
@media screen and (min-width: 768px) {
  .clients__item {
    flex-basis: calc((100% - 90px) / 3);
    margin: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    flex-basis: calc((100% - 180px) / 6);
    margin: 15px;
  }
}

.client__links {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border 250ms var(--timing-function);
}
.client__links:focus, .client__links:hover {
  border: 1px solid #2196f3;
}

.clients__icon {
  fill: #afb1b8;
  width: 106px;
  height: 60px;
  transition: fill 250ms var(--timing-function);
}
.client__links:hover .clients__icon, .client__links:focus .clients__icon {
  fill: var(--select-color);
}

.footer__logo {
  display: block;
  margin-top: 0;
  margin-bottom: 20px;
}
@media screen and (max-width: 1199px) {
  .footer__logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--select-color);
}

.logo__item--light {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer {
  background-color: var(--hero-footer-background);
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .footer__container {
    display: flex;
    align-items: baseline;
  }
}

@media screen and (min-width: 768px) {
  .footer__form {
    display: flex;
    align-items: baseline;
    flex-grow: 1;
    justify-content: space-around;
  }
}
@media screen and (min-width: 768px) and (min-width: 1200px) {
  .footer__form {
    margin-right: 93px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__form {
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 767px) {
  .address__logo {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .address__logo {
    margin-right: 70px;
    flex-grow: 1;
  }
}

.address__item {
  margin-bottom: 8px;
}
.address__item:last-child {
  margin-bottom: 0;
}
@media screen and (max-width: 1199px) {
  .address__item {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .address__item {
    margin-bottom: 9px;
  }
}

.address__link--light,
.address__link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  transition: color 250ms var(--timing-function);
}

.address__link--light {
  color: #ffffff;
}
.address__link--light:hover, .address__link--light:focus {
  color: var(--select-color);
}

.address__link {
  color: rgba(255, 255, 255, 0.6);
}
.address__link:hover, .address__link:focus {
  color: var(--select-color);
}

.footer__text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
  display: inline-block;
}
@media screen and (max-width: 1199px) {
  .footer__text {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .social-block__footer {
    margin-bottom: 60px;
  }
}

.social__footer {
  display: flex;
  justify-content: center;
}

.social__item {
  margin-right: 10px;
}
.social__item:last-child {
  margin-right: 0;
}

.social__link {
  width: 44px;
  height: 44px;
  display: flex;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms var(--timing-function);
}
.social__link:hover, .social__link:focus {
  background-color: var(--select-color);
}

.footer__icon {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

@media screen and (min-width: 1200px) {
  .form {
    display: flex;
    justify-content: center;
    margin-right: 0;
  }
}

@media screen and (max-width: 1199px) {
  .footer__label {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__label {
    margin-right: 12px;
  }
  .footer__label:last-child {
    margin-right: 0;
  }
}

.footer__input {
  width: 358px;
  height: 50px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
}

.filter-flex {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .filter-flex {
    justify-content: center;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .filter-flex {
    margin-bottom: 50px;
  }
}

.filter-item {
  margin-right: 8px;
}
.filter-item:last-child {
  margin-right: 0;
}
@media screen and (max-width: 767px) {
  .filter-item:not(:nth-child(n+4)) {
    margin-bottom: 15px;
  }
}

.filter-btn {
  background-color: #f5f4fa;
  border-radius: 4px;
  border: transparent;
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function), cursor 250ms var(--timing-function), box-shadow 250ms var(--timing-function);
}

.filter-item .filter-btn:hover,
.filter-item .filter-btn:focus {
  color: #ffffff;
  background-color: var(--select-color);
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

@media screen and (min-width: 768px) {
  .gallery-flex {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (max-width: 767px) {
  .gallery-item {
    max-width: 450px;
  }
  .gallery-item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .gallery-item {
    flex-basis: calc((100% - 60px) / 2);
    margin: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .gallery-item {
    flex-basis: calc((100% - 90px) / 3);
    margin: 15px;
  }
}

.border {
  flex-grow: 1;
  background-color: #ffffff;
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}

.gallery-link {
  display: flex;
  flex-direction: column;
  height: 100%;
  transition: box-shadow 250ms var(--timing-function);
}
.gallery-link:focus, .gallery-link:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  display: block;
}

.gallery-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-color);
  margin-top: 0;
  margin-bottom: 4px;
}

.gallery-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.gallery-thumb {
  position: relative;
  cursor: help;
  overflow: hidden;
}

.gallery-img {
  /* @media screen and (max-width: 767px) {
       width: 450px;
       height: 294px;
   }*/
}
@media screen and (min-width: 768px) {
  .gallery-img {
    min-width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .gallery-img {
    min-width: 370px;
  }
}

.gallery-overflow {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  padding: 63px 24px;
  align-items: center;
  justify-content: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  background-color: var(--select-color);
  transform: translateY(100%);
  transition: transform 250ms var(--timing-function);
}
.gallery-link:hover .gallery-overflow, .gallery-link:focus .gallery-overflow {
  transform: translateY(0);
}/*# sourceMappingURL=main.css.map */