.checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 31px;
    @media screen and (min-width: 1200px) {
    margin-bottom: 30px;
    }
    
}
.checkbox__input {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.checkbox__icon {
    width: 16px;
    height: 15px;
    margin-right: 8px;
    fill: var(--secondary-color);

    transition: background-color 250ms var(--timing-function), background-image 250ms var(--timing-function), fill 250ms var(--timing-function);
    
    .checkbox__input:checked+& {
     background-color: var(--select-color);
     background-image: url("../gallery/icon-check.svg");
     background-size: contain;
     background-repeat: no-repeat;
     background-origin: border-box;
     fill: var(--select-color);
}
}

.checkbox__label,
.checkbox__link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    @media screen and (max-width: 479px) {
        font-size: 6px;
    }
        
    @media screen and (min-width: 1200px) {
        line-height: 1.71;
        font-size: 14px;
    }
}
.checkbox__label {
    color: var(--main-color);
}
.checkbox__link {
    color: var(--select-color);
}