.contacts {
    margin-left: auto;
    @media screen and (max-width: 767px) {
        display: none;
    }
    @media screen and (min-width: 1200px) {
        display: flex;
    }
}

.contacts__item {
    @media screen and (max-width: 1199px) {
            margin-bottom: 10px;
        
            &:last-child {
            margin-bottom: 0;
            }
        }
       
        @media screen and (min-width: 1200px) {
            margin-right: 50px;
            &:last-child {
                margin-right: 0;
            }
        }
}

.contacts__link {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-style: normal;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--main-color);
    cursor: pointer;
    transition: color 250ms var(--timing-function);
    &:hover,
    &:focus {
        color: var(--select-color);
    }
    @media screen and (min-width: 1200px) {
        font-size: 14px;
        line-height: 1.14;
    }
}

.contacts-envelope__icon {
    fill: var(--main-color);
    width: 16px;
    height: 12px;
    margin-right: 10px;
    .contacts__link:hover &,
    .contacts__link:focus & {
        fill: var(--select-color);
    }
}

.contacts-smartphone__icon {
    fill: var(--main-color);
    width: 10px;
    height: 16px;
    margin-right: 10px;
    .contacts__link:focus &,
    .contacts__link:hover & {
        fill: var(--select-color);
    }
}

