.menu-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    padding: 0;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: transparent;
    outline: transparent;
    z-index: 99;
    @media screen and (min-width: 768px) {
        display: none;
    }
    &__icon {
        width: 40px;
        height: 40px;
    }
    }
.menu-btn__icon-open {
    opacity: 1;
    fill: #212121;
    &:hover,
    &:focus {
        fill: #2196F3;
    }
}
.menu-btn__icon-close {
    opacity: 0;
    &:hover,
    &:focus {
        fill: #2196F3;
    }
}

.menu-btn.is-active .menu-btn__icon-open {
    opacity: 0;
}

.menu-btn.is-active .menu-btn__icon-close {
    opacity: 1;
}