:root {
    /*color*/
    --main-color: #757575;
    --secondary-color: #212121;
    --select-color: #2196f3;
    --section-team-background: #f5f4fa;
    --hero-footer-background: #2f303a;
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}